@font-face {
    font-family: 'HKGrotesk-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('~/assets/fonts/HKGrotesk-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'HKGrotesk-Bold';
    font-style: normal;
    font-weight: 700;
    src: url('~/assets/fonts/HKGrotesk-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'HKGrotesk-Light';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('~/assets/fonts/HKGrotesk-Light.ttf') format('truetype');
  }